# IDE
.idea/
.vscode/

# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# OS specific
.DS_Store
*.swp
*.swo 